@model WebApplication1Cameron.Models.PersonModel

@{
    ViewBag.Title = "First Responsive App";
}

@using (@Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.LabelFor(model => model.Name) @Html.TextBoxFor(m => m.Name)

    <p />

    @Html.LabelFor(m => m.BirthYear) @Html.TextBoxFor(m => m.BirthYear)

    <p />

    <span>@Model.AgeThisYear()</span>

    @Html.ValidationSummary(true)

    <p />

    <input type="submit" value="Submit" />
}

@Html.ActionLink("Calculate By Birth Date", "CalculateByDate", "Home")
